.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 5;
  background-color: #161616;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  rotate: 180deg;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
}