.wrapper{
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 50vw;
    top: 0;
    pointer-events: none;
}

@media screen and (max-width: 1100px) {
    .wrapper{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 70vh;
    }    
}