.wrapper{

    width: 50vw;
    height: 650px;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
    transition: filter 0.2s;
}  

.wrapper:hover {
    cursor: pointer;
    filter: brightness(120%);
}

@media screen and (max-width: 768px) {
    .wrapper{
        width: 90vw;
        height: 400px;
    }    
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}   